# format options
--swiftversion 5.5
--stripunusedargs closure-only
--lineaftermarks true

# file options

# rules
--disable wrapMultilineStatementBraces
--disable strongOutlets
--disable blankLinesAtStartOfScope
--disable redundantReturn